<c-col xs="12">
  <c-card >
    <app-docs-callout href="charts">
      <h1>Ventes</h1>      
    </app-docs-callout>
    
   

  
  <br>
  <c-col xs="12" lg="6">
  <c-card >
    <h2>Tableau de Bord des Ventes</h2>
  </c-card >
</c-col>
   <br>

<c-row>
  <c-col xs="12" lg="6">
    <c-card class="mb-4">
    <c-card-header>
      <table>
      <tr>		
        <td><strong>Produit le plus vendu:</strong></td> 	
        <td>AAA Batteries (4-pack)</td>
      </tr>
      <br>
      <tr>
       <td><strong>Nombre de ventes:</strong></td>
       <td>31017</td>
      </tr>
       <br>     
       <tr>
        <td><strong>Meilleur Mois pour les ventes:</strong></td> 	
        <td>Décembre</td>
      </tr>
      <br>
      <tr>
        <td><strong>Chiffre d'affaires pour ce mois:</strong></td>
        <td>$4,613,443.34</td>
      </tr>
        <br>
      <tr>      
        <td><strong>Ville ayant le plus gros nombre de produits vendus:</strong></td>
        <td>San Francisco	</td>
      </tr>
      <br>
      <tr>
        <td><strong>Nombre de produits vendus dans cette ville:</strong></td>
        <td>	13963	</td>
     
    </tr> 
      <br> 
    <tr>  
        <td><strong>Heure avec le plus de ventes:</strong></td>
        <td>19 h</td>
    </tr>
    <br>
    <tr>
        <td><strong>Chiffre d'affaires de ventes à cette heure:</strong></td>
        <td>2,412,938.54 </td>
    </tr>
       </table>
       <br>
    </c-card-header>
  </c-card>
   
    <c-card class="mb-4">
      <c-card-header>
        <H3>CA par Horaire par catégorie de produit</H3>
      </c-card-header>
      <c-card-body>
        <c-chart type="line" [data]="chartLineData2"></c-chart>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12" lg="6">
    <c-card class="mb-4">
      <c-card-header>
        <h3>Evolution du CA</h3>
      </c-card-header>
      <c-card-body>
        <c-chart type="line" [data]="chartLineData"></c-chart>
      </c-card-body>
    </c-card>
  </c-col>

  
  <c-col xs="12" lg="6">
    <c-card class="mb-4">
      <c-card-header>
        <h3>Répartition du CA</h3>
      </c-card-header>
      <c-card-body>
        <c-chart type="pie" [data]="chartPieData"></c-chart>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12" lg="6">
    <c-card class="mb-4">
    <c-card-header>
      <p>Des publicités pourront avoir un effet maximal si elles sont diffusées à 19h ou voire même à midi. Tous les produits ont leur sommet de ventes pour la journée à une heure près de ces heures-là. </p>
      <p>La majeure partie du chiffre d'affaire est dûe à la vente d'ordinateurs portables, et ensuite à celle des téléphones portables. Notre recommandation serait de commencer à vendre plus d'ordinateurs et portables, et si besoin d'abandonner la vente du Vareebadd Phone et des machines à laver. </p>

    </c-card-header>
  </c-card>
  <c-col xs="12">
  <c-card class="mb-4">
    <c-card-header>
      <strong>Meilleurs Ventes</strong>
    </c-card-header>
    <c-card-body>
      
        <table cTable>
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Produits</th>
            <th scope="col">Chiffre d'affaires</th>
            <th scope="col">Categorie</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Macbook</td>
            <td>$8035900</td>
            <td>Laptops</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>iPhone</td>
            <td>$4792900</td>
            <td>Phones</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>ThinkPad Laptop</td>
            <td>$4127959</td>
            <td>Laptops</td>
          </tr>
          </tbody>
        </table>
      
    </c-card-body>
  </c-card>
</c-col>