<c-col xs="12">
  <c-card>
  
    <app-docs-callout href="charts">
   <h1>Produits</h1>
    </app-docs-callout>
  <br>

    <c-col xs="12" lg="6">
    <c-card >
      <h2>Analyse des Produit</h2>
    </c-card >
  </c-col>
     <br>
  
   <br>
  <c-col xs="12" lg="6">
    <c-card class="mb-4">
    <c-card-header>
      <p>TEXT</p>

    </c-card-header>
  </c-card>
  </c-col>

  <c-row>
    <c-col xs="12" lg="6">
      <c-card class="mb-4">
      <c-card-header>
        <p>Des publicités pourront avoir un effet maximal si elles sont diffusées à 19h ou voire même à midi. Tous les produits ont leur sommet de ventes pour la journée à une heure près de ces heures-là. </p>
        <p>La majeure partie du chiffre d'affaire est dûe à la vente d'ordinateurs portables, et ensuite à celle des téléphones portables. Notre recommandation serait de commencer à vendre plus d'ordinateurs et portables, et si besoin d'abandonner la vente du Vareebadd Phone et des machines à laver. </p>

      </c-card-header>
    </c-card>
    <c-card class="mb-4">
      <c-card-header>
        <h3>Quantité commandée par produit</h3>
      </c-card-header>
      <c-card-body>
        <c-chart type="bar" [data]="chartBarData"></c-chart>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12" lg="6">
    <c-card class="mb-4">
      <c-card-header>
        <h3>Courbe de la quantité commandée par produit</h3>
      </c-card-header>
      <c-card-body>
        <c-chart type="line" [data]="chartLineData"></c-chart>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<c-row>
  
  <c-col xs="12" lg="6">
    <c-card class="mb-4">
      <c-card-header>
        <h3>Courbe de du chiffre d'affaire par produit</h3>
      </c-card-header>
      <c-card-body>
        <c-chart type="line" [data]="chartLineData"></c-chart>
      </c-card-body>
    </c-card>
  </c-col>


  <c-col xs="12" lg="6">
    <c-card class="mb-4">
    <c-card-header>
      <p>TEXT</p>

    </c-card-header>
    </c-card>
    </c-col>

  <c-col xs="12">
  <c-card class="mb-4">
    <c-card-header>
      <strong>Angular Table</strong>
    </c-card-header>
    <c-card-body>
     
      <app-docs-example href="components/ventes">
        <table cTable>
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Class</th>
            <th scope="col">Heading</th>
            <th scope="col">Heading</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colSpan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
          </tbody>
        </table>
      </app-docs-example>
    </c-card-body>
  </c-card>
</c-col>
</c-row>






