<c-col xs="12" class="àCentrer">
  <c-card >
    <app-docs-callout href="charts">
      <h1>Accueil</h1>      
    </app-docs-callout>
  <br>
  <app-widgets-dropdown></app-widgets-dropdown>
  <c-col xs="12" lg="6" class="àCentrer" >
    <c-card class="mb-4">
    <c-card-header >
      <h2>Chiffre D'affaires</h2> 			
       <h1>$34,492,035.97 	</h1>	
<h2>Quantité de ventes</h2> 			 
<h1>209,079 		</h1>


    </c-card-header>
  </c-card>
  </c-col>

  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Order Feed</strong>
      </c-card-header>
      <c-card-body>
        
        
          <table cTable>
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Produit Acheté</th>
              <th scope="col">Montant</th>
              <th scope="col">Ville</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">319670</th>
              
              <td>Bose SoundSport Headphones
              </td>
              <td>99.99
              </td>
              <td> Los Angeles
              </td>
            </tr>
            <tr>
              <th scope="row">319669</th>
              
              <td>Wired Headphones
              </td>
              <td>11.99

              </td>
              <td> Dallas
              </td>
            </tr>
            <tr>
              <th scope="row">319668
              </th>
              <td>Vareebadd Phone
              </td>
              <td>400
              </td>
              <td> Seattle
              </td>
            </tr>
            </tbody>
          </table>
        
      </c-card-body>
    </c-card>
  </c-col>
  
  <c-col xs="12" class="àCentrer" >
    <c-card class="mb-4">
    <c-card-header>
      <h3>Bienvenue !</h3>
      <p>Niella Dashboards de Ponfiq data vous offre de nombreux angles d'analyse pour vos données professionelles</p>
      <p>Vous pouvez consulter nos dashboards segmentant l'interprétation de vos données de ventes sous 4 grands axes:</p>
      
      <li>Les Ventes</li>
      <li>Les Produits</li>
      <li>Les Clients</li>
      <li>La Géolocalisation</li>
    </c-card-header>
  </c-card>
  </c-col>
  <br>
  
 