
<c-col xs="12">
  <c-card class="àCentrer">
  <c-card-header>
    
   <h1>Clients</h1>

  </c-card-header>
  <br>
  <c-card-header>
    
    <h2>Tableau de Bord des Clients</h2>
 
   </c-card-header>
   <br>

<c-row>
    <c-col xs="12" lg="6">
      <c-card class="mb-4">
      <c-card-header>
       <h2>NOMBRE DE CLIENTS:</h2>
       <h1>140376</h1>
      </c-card-header>
    </c-card>
     
    
  </c-col>
  <c-col>
    <c-card class="mb-4">
      <c-card-header>
        Evolution du nombre de Clients
      </c-card-header>
      <c-card-body>
        <c-chart type="line" [data]="chartLineData"></c-chart>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<c-row>
  
  
  
  <c-col xs="12">
  <c-card class="mb-4">
    <c-card-header>
      <strong>Plus Gros Acheteurs</strong>
    </c-card-header>
    <c-card-body>
     
      
        <table cTable>
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Amount Spent </th>
            <th scope="col">Address</th>
            <th scope="col">Number of Orders</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>4379.99
            </td>
            <td>668 Park St San Francisco
            </td>
            <td>4
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>4100
            </td>
            <td>391 1st St Seattle
            </td>
            <td>3</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>4100
            </td>
            <td>795 1st St Atlanta
            </td>
            <td>3</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>4000
            </td>
            <td>10 1st St San Francisco
            </td>
            <td>3</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>4000
            </td>
            <td>790 Adams St Portland
            </td>
            <td>3</td>
          </tr>
          
          </tbody>
        </table>
      
    </c-card-body>
  </c-card>
</c-col>
</c-row>
